<!-- Stock Search Tool

     This is the only HTML page;

     Primary authors:
     - Diniuzai(Clifford) Huang, 2022

-->

  {% extends 'base.html' %}
  {% block content %}
      <body>
        <title>Stock Profie</title>

        
          <h2>Your Favorite Stock</h2>

          {% if session['user_id'] == user_id %}
          
          <!-- <div class="badge badge-info text-wrap" style="  margin: auto;
          width: 50%;
          border: 3px solid;
          padding: 10px;"> -->
          
            {% for ticker in tickers %}
            <form action="{{ url_for('add_favo') }}" method="POST">
              <input style="display: none;" name="favo" value="{{ticker['Symbol']}}">
              <input style="display: none;" name="user_id" value="{{session['user_id']}}">
              <button class="fa fa-star btn btn-success" aria-hidden="true" type="submit"></button>
            </form>
            <div class="badge badge-info text-wrap" style="  margin: auto;
          width: 50%;
          border: 3px solid;
          padding: 10px;"> 
              {% for t in ticker %}
              <h4>
                  {{ t }} : {{ ticker[t] }}
              </h4>
              {% endfor %}
              </div>
            {% endfor %}
          <!-- </div> -->
          {% endif %}


      </body>
  
  {% endblock %}