<!-- Stock Search Tool

     This is the only HTML page;

     Primary authors:
     - Diniuzai(Clifford) Huang, 2022

-->

{% extends 'base.html' %}

{% block content %}
    <body>
        <span>Enter stock ticker here:</span>
        
        <form action="/stock">
            <div class="justify-content-between" id="search-bar">
                <input class="form-control" type="text" name="symbol" placeholder="Search stock">
            </div>
            <div>
                <button class="btn btn-info" type="submit">Search</button>
            </div>
            <br>
            
            {% if ticker %}
                {% if session['user_id'] != ticker.user_id %}
                    <form style="display:inline;" action="/stock/{{ticker.id}}" method="POST">
                        <button class="far fa-star">Add Favorite</button>
                    </form>
                {% endif %}
            <div class="badge badge-info text-wrap" style="width: flex;">
                {% for t in ticker %}
                <h4>
                    {{ t }} : {{ ticker[t] }}
                </h4>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </body>

{% endblock %}