{% extends 'base.html' %}

{% block content %}
    <body>
        <span>Enter stock ticker here:</span>
        
        <form action="/stock">
            <div class="justify-content-between" id="search-bar">
                <input class="form-control" type="text" name="symbol" placeholder="Search stock">
            </div>
            <div>
                <button class="btn btn-info" type="submit">Search</button>
            </div>
            {% if ticker %}
                {% if session['user_id'] != ticker.user_id %}
                    <form style="display:inline;" action="/stock/{{ticker.id}}" method="POST">
                        <button class="far fa-star"></button>
                    </form>
                {% endif %}
            <h4>
                {{ticker}}
            </h4>
            {% endif %}
        </form>
    </body>

{% endblock %}